.card {
    box-shadow: 0 0 5px #2226;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 30px 40px;
    position: relative;
    gap: 1em;
    justify-items: center;
    align-items: flex-start;
    height: 100%;
    text-align: center;
    cursor: default;
}
.card__heart {
    position: absolute;
    top: .5em;
    right: 1em;
    color: crimson;
    cursor: pointer;
    transition: transform .2s
}
.card__heart:hover {
    transform: scale(1.5);
}
.card>.btn {
    width: max-content;
    text-decoration: underline rgb(254, 219, 155);
    color: black;
}
.card p, h6 {
    text-decoration: underline white;
    color: black;
    cursor: pointer;
}
.card:hover {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 7px #222;
    -moz-box-shadow: 0px 0px 7px #222;
    box-shadow: 0px 0px 7px #222;
}
