.search-block {
    min-width: 300px;
    width: max-content;
    display: flex;
    align-items: center;
    position: relative;
}
.search-block>input {
    flex: 1;
    height: 25px;
    box-sizing: border-box;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 20px; 
    border-radius: 10px;
    border: 1px solid silver;
    font-size: 15px;
    outline: none;
}
.search-block>input:focus {
    border-bottom-color: rgb(255, 213, 73);
}
.search-block>button {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    height: 20px;
    gap: 5px;
}
.search-block svg {
    height: 100%;
    fill: silver;
    cursor: pointer;
}
.search-block svg:hover {
    fill: rgb(255, 213, 73);
}
.search-result {
    position: absolute;
    top: 32px;
    left: 12px;
    font-size: 12px;
}